<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<base href="{{ .Site.BaseURL }}">
<title>{{ .Site.Title }}</title>
{{- partial "meta" . -}}
<link rel="canonical" href="{{ .Permalink }}">
{{ range .AlternativeOutputFormats -}}
<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
<link rel="icon" type="image/png" href="/img/{{ .Site.Params.scheme }}.png">
<link rel="stylesheet" href="/css/maia.css">
</head>
<body>
<header>
  <div class="nav-l">
    <a href="/" class="logo-img"><img src="img/{{ .Site.Params.scheme }}.png" alt="Logo"></a>
    <a class="logo" href="/"><p class="logo-text">{{ .Site.Title }}</p></a>
  </div>
  <div class="nav-r">
    <ul>
      {{- if len ( where .Site.RegularPages "Section" "about" ) | ne 0 -}}
      <li>
      <a href="/about">About</a>
      <ul>
        {{- range where .Site.RegularPages "Section" "about" -}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end -}}
      </ul>
      </li>
      {{- end -}}
      {{- if len .Site.Params.contacts | ne 0 -}}
      <li>
      <a href="#">Contact</a>
      <ul>
        {{- range $contact := .Site.Params.contacts -}}
        <li><a href="{{ index $contact 1 }}">{{ index $contact 0 }}</a></li>
        {{- end -}}
      </ul>
      </li>
      {{- end -}}
      {{- range $page := .Site.Params.pages -}}
      {{ if len $page | eq 3 }}
      <li><a href="{{ index $page 1 }}"><img alt="{{ index $page 0 }}" src="{{ index $page 2 }}"></a></li>
      {{ else }}
      <li><a href="{{ index $page 1 }}">{{ index $page 0 }}</a></li>
      {{ end }}
      {{- end -}}
    </ul>
  </div>
  <div class="menu">
    {{ if or .IsHome (eq .Section "about") (eq .Section "post") (eq .Section "categories")}}
    <ul> 
    {{- range $name, $taxonomy := .Site.Taxonomies.categories -}}
      <li>
        <a href="categories/{{ $name | urlize }}">{{ $name }}</a>
      </li>
    {{- end -}}
    </ul>
    {{- end -}}
  </div>
</header>

