<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<base href="{{ .Site.BaseURL }}">
<title>{{ .Site.Title }}</title>
{{- partial "meta" . -}}
<link rel="canonical" href="{{ .Permalink }}">
{{ range .AlternativeOutputFormats -}}
<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
{{- partial "head_includes.html" . -}}
</head>
<body>
<header>
  <div class="nav-l">
    <a href="/" class="logo-img"><img src="img/{{ .Site.Params.scheme }}.png" alt="Logo"></a>
    <a class="logo" href="/"><p class="logo-text">{{ .Site.Title }}</p></a>
  </div>
  <div class="nav-r">
    <ul>
      {{- range $page := .Site.Params.pages -}}
      {{ if len $page | eq 3 }}
      <li><a href="{{ index $page 1 }}"><img alt="{{ index $page 0 }}" src="{{ index $page 2 }}"></a></li>
      {{ else }}
      <li><a href="{{ index $page 1 }}">{{ index $page 0 }}</a></li>
      {{ end }}
      {{- end -}}
      {{- if len .Site.Params.contacts | ne 0 -}}
      <li>
      <a href="#">Contact</a>
      <ul>
        {{- range $contact := .Site.Params.contacts -}}
        {{ if len $contact | eq 3 }}
        <li><a href="{{ index $contact 1 }}">{{ partial "twitter" .}}<i class="fa fa-{{ index $contact 2 }}" aria-hidden="true"></i>&nbsp;{{ index $contact 0 }}</a></li>
        {{ else }}
        <li><a href="{{ index $contact 1 }}">{{ index $contact 0 }}</a></li>
        {{ end }}
        {{- end -}}
      </ul>
      </li>
      {{- end -}}
      {{- if len ( where .Site.RegularPages "Section" "about" ) | ne 0 -}}
      <li>
      <a href="/about">About</a>
      <ul>
        {{- range where .Site.RegularPages "Section" "about" -}}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end -}}
      </ul>
      </li>
      {{- end -}}
    </ul>
  </div>
</header>

